@font-face {
    font-family: 'ifont';
    src: url('res/font.woff') format('woff');
}

@keyframes flash {
    0%, 50% {
        box-shadow: 0 0 15px rgba(0, 0, 0, .5);
        color: #2A2E2E;
    }
    51%, 100% {
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        color: #999;
    }
}
@keyframes flash-after {
    0%, 50% {
        border-color: rgba(0, 0, 0, .3);
    }
    51%, 100% {
        border-color: rgba(0, 0, 0, .7);
    }
}

.wrap {
    position: relative; color: #999; display: flex;
    &:not(.inside) {
        position: absolute; transition: .1s ease-out; transition-property: transform, opacity; transform: translateX(10px) translateZ(0); opacity: 0;
    }
    &:not(.border-none):not(.cg-state-max) {
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        &::after {
            content: ' '; position: absolute; left: 0; top: 0; width: 200%; height: 200%; transform-origin: 0 0; transform: scale(.5); border: solid 1px #999; pointer-events: none;
        }
    }
    &:not(.show) {
        pointer-events: none;
    }
    &.show {
        transform: translateX(0px) translateZ(0); opacity: 1;
    }
    &.cg-focus {
        color: #2A2E2E;
        &:not(.border-none):not(.cg-state-max) {
            box-shadow: 0 0 15px rgba(0, 0, 0, .5);
            &::after {
                border: solid 1px #000;
            }
        }
    }
    &.flash {
        animation: flash .2s linear infinite;
        &::after {
            animation: flash-after .2s linear infinite;
        }
    }

    /* --- 改变大小 --- */
    .pop-resize-lt, .pop-resize-t, .pop-resize-tr, .pop-resize-r, .pop-resize-rb, .pop-resize-b, .pop-resize-bl, .pop-resize-l {
        position: absolute; z-index: 1;
    }
    .pop-resize-lt, .pop-resize-t, .pop-resize-tr {
        top: -5px; height: 10px;
    }
    .pop-resize-tr, .pop-resize-r, .pop-resize-rb {
        right: -5px; width: 10px;
    }
    .pop-resize-rb, .pop-resize-b, .pop-resize-bl {
        bottom: -5px; height: 10px;
    }
    .pop-resize-bl, .pop-resize-l, .pop-resize-lt {
        left: -5px; width: 10px;
    }
    .pop-resize-t, .pop-resize-b {
        left: 5px; width: calc(100% - 10px);
    }
    .pop-resize-l, .pop-resize-r {
        top: 5px; height: calc(100% - 10px);
    }
    .pop-resize-lt {
        cursor: nw-resize;
    }
    .pop-resize-t {
        cursor: n-resize;
    }
    .pop-resize-tr {
        cursor: ne-resize;
    }
    .pop-resize-r {
        cursor: e-resize;
    }
    .pop-resize-rb {
        cursor: se-resize
    }
    .pop-resize-b {
        cursor: s-resize
    }
    .pop-resize-bl {
        cursor: sw-resize
    }
    .pop-resize-l {
        cursor: w-resize
    }
    // --- 遮罩 ---  
    .mask {
        position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .01); z-index: 1;
    }
    // --- 内部 ---
    .inner {
        flex: 1; display: flex; flex-direction: column; overflow: hidden;
        // --- 头部 ---
        .header {
            display: flex; background: #FFF;
            // --- 图标 ---
            .icon {
                display: flex; align-items: center; padding-left: 10px;
                & > img {
                    margin-right: 5px;
                }
            }
            // --- 标题栏 ---
            .title {
                padding: 10px 10px 10px 0; flex: 1; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
            }
            // --- 控制按钮 ---
            .controls {
                font-family: 'ifont'; display: flex;
                .min, .max, .close {
                    padding: 0 15px; font-size: 14px; display: flex; align-items: center;
                }
                .min, .max {
                    &:hover {
                        background: rgba(0, 0, 0, .1);
                    }
                    &:active {
                        background: rgba(0, 0, 0, .2);
                    }
                }
                .close {
                    &:hover {
                        background: #e81123; color: #FFF;
                    }
                    &:active {
                        background: #f1707a; color: #FFF;
                    }
                }
            }
        }
        // --- 主体内容 ---
        .content {
            flex: 1; background-color: hsl(205, 0%, 95%); display: flex; flex-direction: column; height: 0; position: relative;
        }
    }
    &.border-thin {
        .inner {
            .header {
                .icon {
                    display: none;
                }
                .title {
                    padding: 5px;
                }
                .controls {
                    .min, .max, .close {
                        padding: 0 5px;
                    }
                }
            }
        }
    }
    &.cg-state-min {
        > .inner > .content {
            display: none;
        }
    }
    &.height-auto {
        > .inner > .content {
            flex: initial; height: initial;
        }
    }
}
