<el-page>
    <el-card header="Phone">
        <el-phone padding="10px">
            <el-phone-line v-for="(item, index) of list" :controls="[{'name': 'Add line', 'icon': 'el-icon-circle-plus-outline'}, {'name': 'Remove line'}, {'name': 'Add Button'}]" @action="action(arguments[0], item, index)">
                <div style="flex:1;" v-for="(it, i) of item" @click="item.splice(i, 1)"><button style="width:100%;">{{it}}</button></div>
            </el-phone-line>
            <el-button @click="list.push([])" style="width: 100%;">Add line</el-button>
        </el-phone>
    </el-card>
    <el-card header="zIndex" style="margin-top:20px;">
        <el-phone padding="10px">
            <el-phone-line>
                <div style="position:relative;flex:1;height:60px;">
                    <div style="background:red;position:absolute;left:10px;top:10px;z-index:999;width:250px;height:50px;cursor:move;color:#FFF;">z-index:999;cursor:move;position:absolute;</div>
                </div>
            </el-phone-line>
            <el-phone-line :controls="[{name:'test1'},{name:'test2'},{name:'test3'}]" @action="$alert('You clicked ' + arguments[0])">
                <div style="position:relative;flex:1;height:40px;">
                    <div style="background:green;position:absolute;left:10px;top:10px;z-index:999;width:250px;height:20px;cursor:move;color:#FFF;">z-index:999;cursor:move;position:absolute;</div>
                </div>
            </el-phone-line>
        </el-phone>
    </el-card>
</el-page>