.vscode/
.VSCodeCounter/
.vs/
.git/
node_modules/
eslint.config.cjs
.gitignore
.npmrc
.npmignore
.DS_Store
/doc/
*.ts
!*.d.ts
tsconfig.json
package-lock.json

/dist/app/demo/
/dist/app/task/
/dist/compiler/
/dist/lib/
/dist/sources/
/dist/test/
/dist/build*
/dist/clickgo*
/dist/pack*
/dist/global.scss
/types/dev.d.ts