.github/
.playwright-mcp/
.vscode/
.VSCodeCounter/
.vs/
.git/
node_modules/
eslint.config.cjs
.gitignore
.npmignore
.DS_Store
/doc/
*.ts
!*.d.ts
tsconfig.json
package-lock.json

/dist/app/demo/
/dist/app/task/
/dist/compiler/
/dist/lib/*.ts
!/dist/lib/*.d.ts
/dist/lib/*.js
/dist/sources/
/dist/test/
/dist/build*
/dist/clickgo.js
/dist/clickgo.ts
/dist/pack*
/dist/global.scss
/types/