.git/
node_modules/
eslint.config.js
.gitignore
.npmrc
.npmignore
.DS_Store
/doc/
*.ts
!*.d.ts
tsconfig.json

/dist/app/**/*.ts
/dist/sources/
/dist/test/
/dist/build*
/dist/comp*
/dist/global.scss
/types/dev.d.ts
/types/loader.d.ts