.wrap {
    display: flex; height: 30px; position: relative; outline: none;
    &::before {
        content: ''; pointer-events: none; position: absolute; left: 0; top: 0; width: 200%; height: 200%; transform-origin: 0 0; transform: scale(.5); border: solid 1px hsl(205, 0%, 70%);
    }

    &:not(.cg-disabled) {
        &.hover, &.focus {
            &::before {
                border: solid 1px hsl(205, 100%, 50%);
            }
        }
        &.active {
            &::before {
                border: solid 1px hsl(205, 100%, 30%);
            }
        }
    }

    .text {
        flex: 1; width: 0; -webkit-appearance: none; border: none; margin: 0; padding: 7px; outline: none; resize: none; -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &.cg-disabled {
        &::before {
            border: solid 1px hsl(205, 0%, 60%);
        }
        .text {
            pointer-events: none; background: hsl(205, 0%, 95%); color: hsl(205, 0%, 50%);
        }
    }
}
