.place {
    visibility: hidden;
}

.comp {
    visibility: hidden; position: absolute; left: 0; top: 0;
    &.h {
        display: flex;
    }
}

.item {
    position: absolute;
    &.h {
        display: flex;
    }
    &.content-max {
        width: -webkit-max-content; width: max-content; height: -webkit-max-content; height: max-content;
    }
}