/* --- 框架 --- */
#el-frame > .el-container > {
    // --- 左边栏 ---
    .el-aside {
        > {
            .el-logo {
                background-color: #141f29;
            }
            // --- 左边菜单 ---
            .el-menu {
                border-right: none;
                background-color: #141f29;
                // --- 子菜单背景色 ---
                .el-submenu .el-menu {
                    background-color: #09121a;
                }
                .el-menu-item:focus, .el-menu-item.is-active {
                    background-color: #409EFF;
                }
                .el-menu-item, .el-submenu__title {
                    color: #FFF;
                    transition: none;
                    line-height: 46px;
                }
                // --- 鼠标移动到 item 上的背景颜色 ---
                .el-menu-item:not(.is-active):hover, .el-submenu__title:hover {
                    color: #409EFF;
                    background-color: transparent;
                    // --- 左侧图标 ---
                    i {
                        color: #409EFF;
                    }
                }
            }
        }
    }
    // --- 右 ---
    .el-container > {
        .el-header {
            .el-header-item {
                color: #324558;
                &:hover {
                    background-color: #f5f7fa;
                    color: inherit;
                }
            }
        }
        .el-main {
            background-color: #f5f7fa;
        }
    }
}

/* --- el-card --- */
.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover {
    box-shadow: 0 1px 2px 0 rgba(161,171,181,.48), 0 2px 4px 0 rgba(213,222,231,.64);
}
.el-card__header {
    padding: 15px 20px;
}

/* --- el-dropdown-menu --- */
.el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #b6c2cd;
    top: 0;
}
.el-dropdown-menu, .el-select-dropdown {
    border-color: #b6c2cd;
}

/* --- el-button --- */
.el-button {
    box-shadow: 0 1px 2px rgba(220,223,230,.4);
}